@model List<Membina_Currency.Models.Domain.Currency>

@{

}
<h1>Currencies List</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Currency Name</th>
            <th>Rate</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var curr in Model)
        {
            <tr>
                <td>@curr.Id</td>
                <td>@curr.Name</td>
                <td>@curr.Rate</td>
                <td><a href="Currencies/View/@curr.Id">View</a></td>
               
            </tr>
        }
    </tbody>
</table> 


